h2.form-signin-heading Pending snaps
    p.lead By clicking the button bellow, we download the 'pending' snaps. We also list the usernames.

button(type="submit" style="margin-top:15px;width:100px").btn.btn-lg.btn-primary.btn-block..pendingSnapsBtn Get them!