h2.form-signin-heading Rename
    p.lead Rename a friends display name

input#fName(style="width:110px" type="text" placeholder="Friend Name").form-control
input#fNewName(style="width:110px" type="text" placeholder="New Name").form-control

button(type="submit" style="margin-top:15px;width:100px").btn.btn-lg.btn-primary.btn-block.renameBtn Rename